/* Divider */
.divider {
    margin-top: 0rem;
    border-color: #e5e7eb;
}

.categoryMain-section {
    position: relative;
    width: 100%;
    margin: 0 auto 0px auto;  /* 중앙 정렬, 아래 여백 */
    padding: 0 0px;     /* 팜플렛과 동일한 좌우 패딩 */
}



.scroll-container {
    position: relative;
}

.categoryMain-list {
    width: 100%;
    display: flex;
    gap: 94px;
    overflow-x: auto;
    box-sizing: border-box;
    justify-content: flex-start;
}



.categoryMain-list::-webkit-scrollbar {
    display: none;
}

.categoryMain-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 70px;
    flex-shrink: 0;
}

.categoryMain-icon {
    margin-top:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
    padding:2.5em;
    padding-bottom: 2.7em;
    border-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.14);
}

.categoryMain-icons {
    font-size: 43px;
}


.categoryMain-icon:hover {
    border: 1px solid #999;
}


.categoryMain-name {
    font-size: 16px;
    margin-top: 8px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 0;
}

.scroll-button.left {
    left: -10px;
}

.scroll-button.right {
    right: -10px;
}

.arrow-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
    transition: all 0.3s;
}

.arrow-circle:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}
