.main-demand-container {
    width: 100%;
    text-align: center;
}

.seeDemand {
    background-color: black;
    border: 1px black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 500px;
}

.seeDemand:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.divider {
    margin: 2rem auto 0 auto;         /* 위쪽 여백, 중앙 정렬 */
    border: none;                     /* 기본 hr 스타일 제거 */
    border-top: 2px solid #e5e7eb;    /* 윗줄만 2px */
    width: 90%;                       /* 부모의 90%만 차지 */
    max-width: 1200px;                /* 필요시 최대폭 제한 */
    box-sizing: border-box;
}
